@mixin text-base {
  font-family: var(--main-font);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-400);
}

@mixin text-preset-1 {
  @include text-base;
  font-family: var(--accent-font);
  font-weight: var(--font-weight-600);
  line-height: 1.25;
  font-size: 40px;
}

@mixin text-preset-2 {
  @include text-preset-1;
  font-size: 24px;
}

@mixin text-preset-3 {
  @include text-base;
  font-family: var(--accent-font);
}

@mixin text-preset-4 {
  @include text-base;
}

@mixin text-preset-5 {
  @include text-base;
  font-size: 16px;
}

@mixin text-preset-6 {
  @include text-base;
  font-family: var(--accent-font);
  font-size: 12px;
}
